

{% extends "layout.html" %} <!-- Copy the generic page formatting of layout.html -->
{% block content %} 
<!-- If the user is logged in, display their collection -->
	{% if current_user.is_authenticated %}
		{% set hasbooks = [] %}
<!-- Loop through the database of books and display each book that belongs to the current user -->
		{% for book in books %}
			{% if book.owner == current_user %}
				{% do hasbooks.append(1) %}
			    <article class="media content-section">
			    	<div class="book-img">
			    		<img src={{ book.imgurl }} style="max-width:125px">
			    	</div>
				  <div class="media-body">
				    <div class="article-metadata">
				      <h2><a class="article-title" href="{{ url_for('book', book_id=book.id) }}">{{ book.title }}</a></h2>
				      <b class="mr-2" >{{ book.author }}</b>
				      <small class="text-muted">ISBN# {{ book.isbn }}</small>
				    </div>
				      <p class="article-content">{{ book.description }}</p>
				  </div>
				</article>
			{% endif %}
		{% endfor %}
<!-- If the user has no books in their library, alert them to this fact-->
		{% if hasbooks %}
		{% else %}
			<article class="media content-section">
				<div class="media-body">
					<h2>You currently have no books in your library!</h2>
					<p><a href="{{ url_for('new_book') }}">  Add some books</a></p>
				</div>
			</article>
		{% endif %}
<!-- If the user is NOT logged in, display the welcome page -->
	{% else %}
		<p>Log in or join now to build your own personal library!</p>
	{% endif %}
{% endblock content %}